<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlSh2DZRFqZ7_I1tAIPKDE19IgwZU8a0s</string>
	<key>GCM_SENDER_ID</key>
	<string>252078218557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.profair.profair</string>
	<key>PROJECT_ID</key>
	<string>appprofair</string>
	<key>STORAGE_BUCKET</key>
	<string>appprofair.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252078218557:ios:fbf3dc3c9b5aad6c43f954</string>
</dict>
</plist>